@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;

.video__info {

  @include desktop {
    display: flex;
    justify-content: center;
    margin-right: 12rem;
  }
}



