@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;


.video {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0rem;

  @include desktop {}

  &__container {

    @include desktop {
      height: 32rem;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    max-height: 30rem;

    @include tablet {
      max-width: 93.5vw;
      max-height: 31rem;
    }

    @include desktop {
      max-width: 57rem;
      max-height: 45rem;
      height: 25rem;
    }

  }
}

p {
  margin: .3rem;
  font-size: .875rem;

  @include tablet {
    font-size: .9375rem;
    line-height: 1.375rem;
  }
}

.description {
  margin-left: 1rem;

  @include tablet {
    padding: 0rem 2.4rem 0rem .5625rem;
    max-width: 65rem;
  }

  @include desktop {
    display: inline-block;
    width: 44rem;
    margin-left: 12rem;
    padding-right: 0rem;
  }
}

.description__title {
  font-family: $font-bold;
  line-height: 2rem;
  font-size: 1.5rem;
  width: 18rem;
  padding: 1.5rem 0rem 1rem 0rem;

  @include tablet {
    width: 33rem;
    font-size: 2.0625rem;
    padding: 2.25rem 0rem 1.5rem 0rem;
  }
}

.description-output {
  border-top: .0625rem solid $secondary-color-3;
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  width: 94%;

  @include tablet {
    border-top: 0rem solid $secondary-color-3;
    padding: 0rem 0rem .4rem 0rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin: 0rem;
    width: 10.5rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 30rem;
      justify-content: flex-end;
    }

    @include tablet {}
  }

  &__author {
    font-family: $font-bold;
    font-size: .8125rem;

    @include tablet {}
  }

  &__icon {
    margin-right: .5rem;
    width: 1.5rem;
  }

  &__views {
    font-family: $font-regular;
    color: $color-primary-3;
    display: flex;
  }

  &__date {
    font-family: $font-regular;
    color: $color-primary-3;
    display: flex;

    @include tablet {
      margin-left: 1.8rem;
      flex-grow: 1;
    }
  }

  &__likes {
    color: $color-primary-3;
    display: flex;
    font-family: $font-regular;
  }

}

.summary {
  border-top: .0625rem solid $secondary-color-3;
  padding: 1rem .7562rem 0rem 0rem;
  width: 91%;

  @include tablet {
    width: 98%;
  }

  @include tablet {
    width: 100%;
    padding-right: 0rem;
  }

  &__text {
    font-family: $font-regular;
    font-size: .875rem;
    line-height: 20px;
  }
}

// Comments section

section {

  @include desktop {
    width: 51rem;
  }

}

.test {

  @include tablet {
    max-width: 79rem;
  }

}

.form {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-left: 1rem;
  }

  @include desktop {
    width: 46rem;
    margin-left: 8rem;
  }

  &__title {
    font-family: $font-bold;
    padding: .5rem 0rem 1rem .7375rem;
  }

  &__container {

    @include tablet {
      display: flex;
      height: 3rem;
    }

    @include desktop {
      width: 43rem;
    }
  }


  &__comment {
    margin: 0rem 0rem .3rem 4.1rem;
    font-family: $font-regular;
    color: $color-primary-3;
    font-size: .875rem;
    
    @include desktop {}
  }

  &__input {
    width: 70%;
    height: 5rem;
    margin-left: 1.3rem;
    border: .0625rem solid $color-primary-3;
    border-radius: .2rem;
    resize: none;
    background-color: $secondary-color-4;
    border: 1px solid $secondary-color-3;
    @include tablet {
      width: 60%;
      height: 2.3rem;
    }
  }

  &__btn {
    width: 72%;
    height: 2.7rem;
    background-color: $color-primary-2;
    color: $color-primary-4;
    border-radius: .3rem;
    margin-top: .7rem;
    margin-left: 4.3rem;
    border: 0rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;




    @include tablet {
      width: 10rem;
      height: 2.9rem;
      margin: -.04rem 0rem 0rem 2.4rem;
    }
  }

  &__icon {
    order: -1;
    margin: 0rem 6.3rem 0rem .4rem;

    @include tablet {

      margin: 0rem 1.4rem 0rem .4rem;
    }
  }

  &__img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: .5rem;
    position: relative;
    bottom: 3rem;
    left: .7rem;

    @include tablet {
      bottom: 0rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.comments {
  width: 90%;
  height: 9rem;
  border-top: 1px solid $secondary-color-3;
  justify-content: center;
  margin-top: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    height: 6rem;
    width: 100%;
    padding: 1rem 0rem 2rem 0rem;
    display: inline-block;
    margin-left: 1.2rem;
  }

  @include desktop {
    width: 44.5rem;
    margin-left: 8rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 18rem;

    @include tablet {
      height: 7rem;
    }

  }

  &__container {
    width: 21rem;
    display: flex;
    height: 2.5rem;

    @include tablet {
      width: 10rem;
    }
  }

  &__title {
    font-family: $font-bold;
    font-size: .875rem;
    margin-top: 1rem;
    width: 10rem;

    @include tablet {
      width: 14rem;
      height: 1rem;
    }
  }

  &__date {
    margin-top: 1rem;
    margin-left: -1.2rem;
    color: $color-primary-3;
    font-size: .875rem;
    line-height: 1.125rem;
    font-family: $font-regular;

    @include tablet {
      margin-right: -30rem;
      position: relative;
      left: 20rem;
    }

    @include desktop {
      left: 20rem;
    }
  }

  &__copy {
    // max-width: 19.375rem;
    // width: 15.75rem;
    font-family: $font-regular;
    line-height: 1.125rem;
    margin-left: 4rem;

    @include tablet {
      width: 40rem;

      margin-top: 1rem;
    }

    @include desktop {}
  }
}

#comment {
  text-decoration: none;
}

.images {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: $secondary-color-3;
  margin: 1rem .5rem .5rem 1rem;

}

.videos {
  border-top: 1px solid $secondary-color-3;
  margin: 0rem 1rem;
  box-sizing: border-box;

  @include tablet {
    margin-left: 1.5rem;
  }

  @include desktop {
    width: 20rem;
    height: 54rem;
    border-top: 0px solid $secondary-color-3;
    border-left: 1px solid $secondary-color-3;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-left: 0rem;
    position: absolute;
    left: 56.5rem;
    top: 37.1rem;

  }

  &__title {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    color: $color-primary-3;


    @include desktop {
      margin-right: 14rem;
      width: 10rem;
    }
  }

  &__container {
    display: flex;
    padding-top: 1rem;
  }

  &__img {
    width: 100%;
    height: 3.9rem;
    border-radius: .4rem;
  }

  &__wrapper {
    width: 6.3rem;
    height: 3.9rem;
    background-color: black;
    object-fit: scale-down;
    border-radius: .4rem;
  }

  &__subtitle {
    font-family: $font-bold;
    margin-left: 1rem;
    width: 11rem;
    font-size: .8125rem;
    text-decoration: none;
    color: $secondary-color-1;

  }

  &__author {
    font-family: $font-regular;
    margin-left: 1rem;
    margin: .6rem 0rem 0rem 1rem;
    font-size: .8125rem;
    color: $secondary-color-1;
  }
}

.video__list {

  @include desktop {
    display: flex;
    z-index: -2;

  }
}

.description__contain {

  @include desktop {
    display: flex;
    flex-direction: column;
    // z-index: -1;
    width: 52.5rem;
    width: 52.5rem;
    display: inline-block;
  }
}

