@use '/src/styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

p {
  margin: .3rem;
  font-size: .875rem;

  @include tablet {
    font-size: .9375rem;
    line-height: 1.375rem;
  }
}

.description {
  margin-left: 1rem;

  @include tablet {
    padding: 0rem 2.4rem 0rem .5625rem;
    max-width: 65rem;
  }

  @include desktop {
    display: inline-block;
    width: 44rem;
    margin-left: 8rem;
    padding-right: 0rem;
  }
}

.description__title {
  font-family: $font-bold;
  line-height: 2rem;
  font-size: 1.5rem;
  width: 18rem;
  padding: 1.5rem 0rem 1rem 0rem;

  @include tablet {
    width: 33rem;
    font-size: 2.0625rem;
    padding: 2.25rem 0rem 1.5rem 0rem;
  }
}

.description-output {
  border-top: .0625rem solid $secondary-color-3;
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  width: 94%;

  @include tablet {
    border-top: 0rem solid $secondary-color-3;
    padding: 0rem 0rem .4rem 0rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin: 0rem;
    width: 10.5rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 30rem;
      justify-content: flex-end;
    }

    @include tablet {}
  }

  &__author {
    font-family: $font-bold;
    font-size: .8125rem;

    @include tablet {}
  }

  &__icon {
    margin-right: .5rem;
    width: 1.5rem;
  }

  &__views {
    font-family: $font-regular;
    color: $color-primary-3;
    display: flex;
  }

  &__date {
    font-family: $font-regular;
    color: $color-primary-3;
    display: flex;

    @include tablet {
      margin-left: 1.8rem;
      flex-grow: 1;
    }
  }

  &__likes {
    color: $color-primary-3;
    display: flex;
    font-family: $font-regular;
  }

}

.summary {
  border-top: .0625rem solid $secondary-color-3;
  padding: 1rem .7562rem 0rem 0rem;
  width: 91%;

  @include tablet {
    width: 98%;
  }

  @include tablet {
    width: 100%;
    padding-right: 0rem;
  }

  &__text {
    font-family: $font-regular;
    font-size: .875rem;
    line-height: 20px;
  }
}