@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;

.video {
  display: flex;
  justify-content: center;
  &__container {

  }

  &__content {
    width: 100vw;

  @include tablet {
  
  }
  }
}