@use '/src/styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;



.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
 

  @include tablet {
    flex-direction: row;
    height: 2.5rem;
  }

  @include desktop {
    width: 80%;
    height: 5rem;
    justify-content: center;
    margin: auto;
  }

  &__logo {
    margin-top: .3rem;
    width: 7.6rem;

    @include tablet {
      padding-left: 1.5rem;
    }


  }

  &__container {
    margin-top: 4.8px;
    width: 78vw;
    height: 3.8rem;
    display: flex;
    align-items: center;
    margin-right: 2.4rem;
  }

  &__form {
    display: inline-block;

    @include tablet {}
  }

  &__form-logo {
    position: absolute;
    margin-left: 1rem;
    margin-top: .8rem;
    
    @include tablet {
      margin: 1rem 0rem 0rem 6.5rem;
      top: .8rem;
    }

    @include desktop {
      margin-left: 18.5rem;
      top: 1.1rem;
    }
  }

  &__form-search {
    margin-left: .5rem;
    width: 58vw;
    height: 2.5rem;
    color: $color-primary-3;
    border-radius: .3rem;
    border: 1px solid $secondary-color-3;
    background-color: $secondary-color-4;
    padding-left: 2rem;
    @include tablet {
      width: 30vw;
      height: 2.3rem;
      margin-left: 6rem;
    }

    @include desktop {
      margin-left: 0rem;
      height: 2.9rem;
    }

    @include desktop {
      width: 20vw;
      height: 2.3rem;
      margin-left: 18rem;
    }

  }

  &__form-image {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: .5rem;

    @include tablet {
      display: none;
    }

  }
}

.nav__form-image-desktop {
  display: none;

  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0.3rem 2rem 0rem 1.4rem;
    display: flex;
  }
}

.button {
  width: 82vw;
  height: 2.7rem;
  background-color: $color-primary-2;
  border-radius: .3rem;
  margin-top: .5rem;
  display: flex;
  text-decoration: none;
  margin-right: 1rem;

  @include tablet {
    width: 36%;
    height: 2.6rem;
    margin-bottom: .2rem;
  }

}

.button__icon {
  margin-left: .4rem;
  width: 1.5rem;

  @include tablet {
    width: 1.6rem;
  }
}

.button__text {
  text-align: center;
  font-size: .75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  text-decoration: none;
  color: $color-primary-4;
  text-transform: uppercase;
  font-family: $font-bold;
  line-height: 1.25rem;
}