@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;

.video {
  display: flex;
  justify-content: center;
  background-color: black;

  &__container {
    min-height: 10rem;
    height: 100%;

    @include tablet {
      min-height: 23rem;
    }
  }

  &__content {
    min-height: 10rem;
    width: 100%;
    height: 100%;

    @include tablet {
      min-height: 23rem;
    }
    @include desktop {
      min-height: 29.5rem;
      max-height: 30rem;
    }
  }
}