@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;

.video {
  display: flex;
  justify-content: center;
  background-color: black;

  &__container {
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
  }
}