@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

.test {

  @include desktop {
    display: flex;
    flex-direction: column;
    // z-index: -1;
    width: 52.5rem;    
    display: inline-block;
    }
}

.video__list {

  @include desktop {
    display: flex;
    z-index: -2;
    }
}

