@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;

.video {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0rem;

  @include tablet {}

  &__container {

    @include tablet {}
  }

  &__content {
    width: 100%;
    height: 100%;
    max-height: 30rem;

    @include tablet {
      max-width: 93.5vw;
      max-height: 31rem;
    }

    @include desktop {
      max-width: 57rem;
      max-height: 45rem;

    }

  }
}